@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Roboto+Mono:ital@1&family=Source+Sans+Pro&family=Staatliches&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 64.5%;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  background: #1D1D42;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.sideNav {
  width: 17vw;
  background: rgba(255, 255, 255, 0.2);
  height: 95vh;
  border-radius: 2rem;
}
.removeSideNav{
  display: none;
}
.firstPart {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  position: relative;
}

.firstPart img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-left: 2rem;
  margin-right: 2rem;
}

.dp_name {
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Mouse Memoirs', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Staatliches', cursive;
}

.secondPart,
.secondPart ul {
  width: 100%;
  height: 95vh;
}

.secondPart ul li {
  width: 90%;
  margin-bottom: 2rem;
  padding: 1.3rem;
  border-radius: 0.5rem;
  list-style: none;
  margin-left: 0;
  transition: background 0.5s ease;
  height: 6rem;
}

.secondPart ul li:hover {
  background: #215bf0;
}

.secondPart ul li a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  transition: margin 0.5x ease-in;
}


.mainBody {
  width: 75vw;
  height: 95vh;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 2rem;
  display: grid;
  place-items: center;
  position: relative;
}
.hamburger{
  display: none;
}
.fullBox {
  width: 60vw;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.box {
  border: 2px solid #fff;
  border-radius: 1rem;
  height: 20rem;
}

.box.deactivate {
  border: none;
}

.showBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;

}
.showBox.deactivate{
  display: none;
}
.showBoxName {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
}

.hiddenBox {
  width: 75vw;
  height: 95vh;
  background: rgba(255, 255, 255, 0);
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  overflow: hidden;
}
.hiddenBox.activate{
  display: flex;
}

.cutClass {
  margin-top: 2rem;
  margin-left: 2rem;
  display: block;
}

.mainBoxContainer {
  width: 75vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputSpace .nameInput {
  width: 60vw;
  height: 3.7rem;
  padding: 0.4rem;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.5rem;

}

.imageSlider {
  width: 75vw;
  height: 20rem;
  margin-top: 7rem;
  position: relative;
}

.sliderBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
}

.left {
  margin-left: 2rem;
}

.right {
  right: 0;
  margin-right: 2rem;
}

.imageSliderContent {
  width: 75vw;
  height: 20rem;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.imageSliderContent::-webkit-scrollbar {
  display: none;
}

.imageSliderContent img {
  margin-right: 2rem;
}

.imageSliderContent img:first-child {
  margin-left: 1rem;
}

.imageSliderContent img:last-child {
  margin-right: 1rem;
}










@media (max-width: 1000px) {
  .sideNav {
    width: 20vw;
  }

  .fullBox {
    grid-template-columns: repeat(2, 1fr);
    width: 60vw;
    height: 30vh;
  }
}

@media (max-width: 760px) {
  .dp_name {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .firstPart img {
    width: 3.4rem;
    height: 3.4rem;
  }

  .secondPart ul li {
    width: 100%;
    height: 4rem;
    padding: 0.9rem;
  }

  .secondPart ul li a {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 40.5%;
  }

  .sideNav {
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translateY(-50%);
    width: 40vw;
    z-index: 10000;
    background: #4E2ECF;
    transition: left 0.5s ease;
  }
  .sideNav.active{
    left: 3rem;
  }

  .mainBody {
    width: 93vw;
  }
  .hiddenBox{
    width: 93vw;
  }
  .mainBoxContainer{
    width: 93vw;
  }
  .imageSlider,.imageSliderContent{
    width: 93vw;
    height: 35rem;
  }
  .inputSpace .nameInput{
    width: 80vw;
    height: 5rem;
    padding: 1rem;
  }
  .secondPart ul li a {
    font-size: 1.3rem;
  }

  .removeSideNav {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .hamburger{
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 10000;
  }
  .firstPart img{
    width: 5rem;
    height: 5rem;
  }



}
